/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
    outline: 1px dotted black;
}

/* External styling from: https://codepen.io/manikoth/pen/NNNBYe.css
 */
/* Doodle Stage */
#stage {
  background: #ccc;
  height: 300px;
  width: 600px;
}

.G {
  fill: red;
  position: absolute;
  width: 80%;
  left: 60px;
  top: -50px;
}