/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
    outline: 1px dotted black;
}

/* External styling from: https://codepen.io/manikoth/pen/NNNBYe.css
 */
/* Doodle Stage */
#stage {
  background: #ccc;
  height: 300px;
  width: 600px;
  position: relative;
}

.G1 {
  position: absolute;
  width: 200%;
  left: -400px;
  top: -250px;
}

.puck1 {
  position: absolute;
  width: 60%;
  left: 15px;
  top: -37px;
}

.puck2 {
  position: absolute;
  width: 60%;
  left: 150px;
  top: -37px;
}

.G2 {
  position: absolute;
  width: 200%;
  left: -10px;
  top: -250px;
}

.L {
    position: absolute;
    width: 200%;
    left: 180px;
    top: -225px;
}

.E {
  position: absolute;
  width: 200%;
  left: 200px;
  top: -192px;
}